/* GLOBAL CSS */
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

button,
[role="button"] {
  cursor: pointer;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

button,
select {
  text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  /* font-weight: inherit; */
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

button,
[role="button"] {
  cursor: pointer;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

button,
select {
  text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  /* font-weight: inherit; */
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

/* END GLOBAL CSS */
input {
  color: #808080;
  /* font-family: poppins; */
}

input:focus {
  outline: none;
}

input.qty[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

*:focus {
  outline: none;
}

/* Grids */
.lc-container {
  background: #fff;
  display: grid;
  border: 1px solid;
  color: #d8d8d8;
  border-radius: 19px;
  padding: 20px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}

.lc-container > div {
  text-align: center;
  background: #fff;
}

/* Appliances */
.heading {
  /* font-family: poppins, lato, verdana; */
  /* color: #dd3333; */
  color: #0844bc;
  text-align: center;
  display: inline-block;
  width: 250px;
  margin: 0;
  padding: 10px 10px;
  font-size: 15px;
  background-color: #fff;
}

input.heading2 {
  /* font-family: poppins, lato, verdana; */
  /* color: #dd3333; */
  color: #0844bc;
  font-size: 14px;
  text-align: center;
  padding: 10px 10px;
  width: 80px;
  border: none !important;
}

.appliance {
  color: #404040;
  text-align: center;
  display: inline-block;
  width: 250px;
  margin: 0;
  padding: 10px 10px;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.01);
}

.appliance:hover {
  color: #fff;
  background-color: #505050;
  border-color: #505050;
  cursor: pointer;
  transition: 0.3s ease;
}

.appliance i {
  float: left;
  color: #fff;
}

.appliances input {
  /* font-family: poppins, lato, verdana; */
  font-size: 13px;
  text-align: center;
  padding: 13px 10px;
  padding-bottom: 11px;
  margin-left: 5px;
  width: 150px;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
}

/* Results */
.results {
  border: 1px solid;
  background: #fff;
  color: #d8d8d8;
  border-radius: 19px;
  padding: 20px;
  text-align: center;
}

.results h3 {
  color: #404040;
  font-size: 17px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.results h4 {
  color: #404040;
  font-weight: 500;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.results h6 {
  color: #404040;
  font-weight: 500;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.results select {
  /* font-family: poppins, lato, verdana; */
  width: 250px;
  height: 50px;
  padding: 5px 10px;
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

.results i {
  font-size: 12px;
  /* color: #dd3333; */
  color: #0844bc;
  padding: 0;
  margin: 0;
}

.results option {
  text-align: center;
}

select {
  text-align-last: center;
}

/* Other */
.selected {
  color: #fff;
  background-color: #1a76af;
  border-color: #1a76af;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.01);
}

.selected:hover {
  color: #fff;
  background-color: #1a76af;
  border-color: #1a76af;
}

input.active {
  color: #1a76af;
  border-color: #1a76af;
}

input[name="load"] {
  cursor: default;
}

/* CUSTOM CSS */
.tw-items-center {
  align-items: center;
}

.tw-flex {
  display: flex;
}

.lg-px-screen-edge-2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1024px) {
  .lg-px-screen-edge-2 {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}

.lg-text-headline {
  /* font-family: lg-brueur-text; */
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

@media (min-width: 768px) {
  .lg-text-headline {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
}

.lg-text-secondary-900 {
  --tw-text-opacity: 1;
  color: rgb(31 32 34 / var(--tw-text-opacity));
}

.lg-text-title2 {
  /* font-family: lg-source-sans-3; */
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  .lg-text-title2 {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .lg\:tw-max-w-\[500px\] {
    max-width: 500px;
  }
}

.tw-gap-2 {
  gap: 0.5rem;
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.tw-w-full {
  width: 100%;
}

.tw-grid {
  display: grid;
}

@media (min-width: 1024px) {
  .lg\:tw-max-w-\[10rem\] {
    max-width: 10rem;
  }
}

.tw-duration-200 {
  transition-duration: 0.2s;
}

.tw-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.tw-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tw-rounded-lg {
  border-radius: 0.5rem;
}

.lg-card {
  box-shadow: 8px 11px 15px #0d0d0d0d, 0 2px 12px #0d0d0d0d,
    0 0 6px 4px #ffffff08;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(242 242 242 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(71 69 70 / var(--tw-text-opacity));
}

.tw-p-1\.5 {
  padding: 0.375rem;
}

.tw-rounded-full {
  border-radius: 9999px;
}

.tw-w-8 {
  width: 2rem;
}

.tw-h-8 {
  height: 2rem;
}

.lg-bg-secondary-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(71 69 70 / var(--tw-bg-opacity));
}

.tw-invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.tw-overflow-hidden {
  overflow: hidden;
}

.tw-relative {
  position: relative;
}

.tw-items-start {
  align-items: flex-start;
}

.tw-grid-flow-col {
  grid-auto-flow: column;
}

.tw-auto-cols-\[100\%\] {
  grid-auto-columns: 100%;
}

.tw-text-center {
  text-align: center;
}

.tw-flex-col {
  flex-direction: column;
}

.border-none {
  border: none;
}

@media (min-width: 1024px) {
  .lg\:tw-gap-x-8 {
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

.tw-gap-y-4 {
  row-gap: 1rem;
}

.tw-gap-x-4 {
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.tw-justify-center {
  justify-content: center;
}

.tw-grid-cols-\[minmax\(0\,1fr\)_minmax\(0\,1fr\)_auto_auto\] {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) auto auto;
}

.tw-max-w-3xl {
  max-width: 48rem;
}

.tw-text-left {
  text-align: left;
}

.tw-place-self-start {
  place-self: start;
}

@media (min-width: 768px) {
  .lg-text-body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.lg-text-body {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.lg-text-body {
  /* font-family: lg-source-sans-3; */
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(71 69 70 / var(--tw-text-opacity));
}

.tw-text-left {
  text-align: left;
}

.tw-border-secondary-300-light {
  --tw-border-opacity: 1;
  border-color: rgb(177 177 177 / var(--tw-border-opacity));
}

.tw-border-solid {
  border-style: solid;
}

.tw-border-b {
  border-bottom-width: 1px;
}

.tw-col-span-4 {
  grid-column: span 4 / span 4;
}

.lg-cta-button {
  display: block;
  border-radius: 9999px;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #0844bc var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(242 95 96 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #0844bc var(--tw-gradient-to-position);
  padding: 0.75rem 3rem;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .lg-cta-button {
    font-size: 1rem;
    line-height: 1.02rem;
  }
}

.lg-cta-button {
  /* font-family: lg-source-sans-3; */
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
}

.tw-h-4 {
  height: 1rem;
}

.tw-whitespace-nowrap {
  white-space: nowrap;
}

.tw-flex-row {
  flex-direction: row;
}

.tw-w-12 {
  width: 3rem;
}

.tw-h-8 {
  height: 2rem;
}

.lg-bg-new-background-border-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity));
}

.tw-rounded-r-lg {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.tw-w-6 {
  width: 1.5rem;
}

.tw-h-8 {
  height: 2rem;
}

.tw-gap-x-2 {
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

.tw-pb-8 {
  padding-bottom: 2rem;
}

.tw-px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.tw-p-4 {
  padding: 1rem;
}

.tw-justify-self-center {
  justify-self: center;
}

.tw-place-self-center {
  place-self: center;
}

.tw-max-w-3xl {
  max-width: 48rem;
}

.tw-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.tw-gap-x-2 {
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

.tw-flex-row {
  flex-direction: row;
}

.tw-relative {
  position: relative;
}

.tw-flex-none {
  flex: none;
}

.tw-flex-1 {
  flex: 1 1 0%;
}

.tw-flex-none {
  flex: none;
}

@media (min-width: 768px) {
  .lg-text-body-bold {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.lg-text-body-bold {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.lg-text-body-bold {
  --tw-text-opacity: 1;
  color: rgb(71 69 70 / var(--tw-text-opacity));
}

.lg-text-body-bold {
  /* font-family: lg-source-sans-3; */
  font-weight: 600;
}

.tw-grid-cols-\[3rem_minmax\(0\,1fr\)_3rem\] {
  grid-template-columns: 3rem minmax(0, 1fr) 3rem;
}

.tw-row-start-1 {
  grid-row-start: 1;
}

.tw-col-start-1 {
  grid-column-start: 1;
}

.tw-col-span-3 {
  grid-column: span 3 / span 3;
}

.lg-range-input {
  width: 100%;
  height: 0.2rem;
  border: none;
  outline: none;
}

.lg-range-input {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #b1b1b1 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(177 177 177 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #eb2a2b var(--tw-gradient-to-position);
}

.tw-row-start-1 {
  grid-row-start: 1;
}

.tw-col-start-1 {
  grid-column-start: 1;
}

.tw-relative {
  position: relative;
}

@media (min-width: 768px) {
  .lg-text-icon {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
}

.lg-text-icon {
  /* font-family: lg-source-sans-3; */
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.tw-justify-self-end {
  justify-self: end;
}

.tw-row-start-1 {
  grid-row-start: 1;
}

.tw-col-start-3 {
  grid-column-start: 3;
}

.tw-top-4 {
  top: 1rem;
}

.tw-relative {
  position: relative;
}

@media (min-width: 768px) {
  .lg-text-icon {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
}

.lg-text-icon {
  /* font-family: lg-source-sans-3; */
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.lg-bg-primary-500 {
  --tw-bg-opacity: 1;
  background-color: #0844bc;
}

.tw-text-secondary-900-dark {
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
}

.tw-bg-secondary-900-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity));
}

.property-type-button {
  background-color: white;
}

.first-container {
  background-image: url("../load icons/load icons/calculator.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: right;
}

.totalWatts-container {
  background-color: yellow;
  width: 47rem;
  padding: 0rem;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -40px;
  border: 10px solid white;
  border-radius: 10px;
}

.card-container {
  max-width: 300px;
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-block: 20px;
  margin-inline: auto;
  overflow: hidden;
  display: none;
  /* font-family: 'Arial', sans-serif; */
}

.card-header {
  background-color: #004a7c;
  color: #ffffff;
  padding: 15px 20px;
  text-align: center;
}

.card-header h3 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

.card-body {
  padding: 20px;
  text-align: center;
}

.card-body p {
  margin: 10px 0;
  color: #333;
  font-size: 16px;
}

.card-image {
  width: 100%;
  display: block;
}

.form-group {
  /* min-width: 500px; */
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.form-group input::placeholder {
  opacity: 0.5;
}

.form-group input:focus {
  outline: none;
  border-color: #1778f2;
}

.flip-in-ver-right {
  -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media (max-width: 600px) {
  .first-container {
    height: 820px !important;
  }

  .output-container {
    align-items: center;
    justify-content: center;
  }

  .totalWatts-container {
    background-color: yellow;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0px;
    border: 10px solid white;
    border-radius: 10px;
  }

  .property-type_container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .usagePerDeviceHeading {
    visibility: hidden !important;
  }

  .wattsUsage {
    visibility: hidden !important;
  }

  .wouldRequireWrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .percentage-container {
    padding: 0;
  }

  .form-group {
    min-width: 100% !important;
    /* width: 100%; */
  }
}

/* ----------------------------------------------
* Generated by Animista on 2024-8-19 1:46:39
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation flip-in-ver-right
* ----------------------------------------
*/
@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

/* From Uiverse.io by Admin12121 */

/* BY ME */
.margin-inline-auto {
  margin-inline: auto;
}

.mt-5 {
  margin-top: 5rem;
}

.plan-container {
  display: none;
}

.loader {
  --duration: 3s;
  --primary: rgba(39, 94, 254, 1);
  --primary-light: #2f71ff;
  --primary-rgba: rgba(39, 94, 254, 0);
  visibility: hidden;
  width: 200px;
  height: 320px;
  position: relative;
  transform-style: preserve-3d;
}

@media (max-width: 480px) {
  .loader {
    zoom: 0.44;
  }
}

.loader:before,
.loader:after {
  --r: 20.5deg;
  content: "";
  width: 320px;
  height: 140px;
  position: absolute;

  right: 32%;
  bottom: -11px;
  /* change the back groung color on switching from light to dark mood */
  background: #ffff;
  transform: translateZ(200px) rotate(var(--r));
  -webkit-animation: mask var(--duration) linear forwards infinite;
  animation: mask var(--duration) linear forwards infinite;
}

.loader:after {
  --r: -20.5deg;
  right: auto;
  left: 32%;
}

.loader .ground {
  position: absolute;
  left: -50px;
  bottom: -120px;
  transform-style: preserve-3d;
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}

.loader .ground div {
  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
    translateZ(100px) scale(0);
  width: 200px;
  height: 200px;
  background: var(--primary);
  background: linear-gradient(
    45deg,
    var(--primary) 0%,
    var(--primary) 50%,
    var(--primary-light) 50%,
    var(--primary-light) 100%
  );
  transform-style: preserve-3d;
  -webkit-animation: ground var(--duration) linear forwards infinite;
  animation: ground var(--duration) linear forwards infinite;
}

.loader .ground div:before,
.loader .ground div:after {
  --rx: 90deg;
  --ry: 0deg;
  --x: 44px;
  --y: 162px;
  --z: -50px;
  content: "";
  width: 156px;
  height: 300px;
  opacity: 0;
  background: linear-gradient(var(--primary), var(--primary-rgba));
  position: absolute;
  transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y))
    translateZ(var(--z));
  -webkit-animation: ground-shine var(--duration) linear forwards infinite;
  animation: ground-shine var(--duration) linear forwards infinite;
}

.loader .ground div:after {
  --rx: 90deg;
  --ry: 90deg;
  --x: 0;
  --y: 177px;
  --z: 150px;
}

.loader .box {
  --x: 0;
  --y: 0;
  position: absolute;
  -webkit-animation: var(--duration) linear forwards infinite;
  animation: var(--duration) linear forwards infinite;
  transform: translate(var(--x), var(--y));
}

.loader .box div {
  background-color: var(--primary);
  width: 48px;
  height: 48px;
  position: relative;
  transform-style: preserve-3d;
  -webkit-animation: var(--duration) ease forwards infinite;
  animation: var(--duration) ease forwards infinite;
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

.loader .box div:before,
.loader .box div:after {
  --rx: 90deg;
  --ry: 0deg;
  --z: 24px;
  --y: -24px;
  --x: 0;
  content: "";
  position: absolute;
  background-color: inherit;
  width: inherit;
  height: inherit;
  transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y))
    translateZ(var(--z));
  filter: brightness(var(--b, 1.2));
}

.loader .box div:after {
  --rx: 0deg;
  --ry: 90deg;
  --x: 24px;
  --y: 0;
  --b: 1.4;
}

.loader .box.box0 {
  --x: -220px;
  --y: -120px;
  left: 58px;
  top: 108px;
}

.loader .box.box1 {
  --x: -260px;
  --y: 120px;
  left: 25px;
  top: 120px;
}

.loader .box.box2 {
  --x: 120px;
  --y: -190px;
  left: 58px;
  top: 64px;
}

.loader .box.box3 {
  --x: 280px;
  --y: -40px;
  left: 91px;
  top: 120px;
}

.loader .box.box4 {
  --x: 60px;
  --y: 200px;
  left: 58px;
  top: 132px;
}

.loader .box.box5 {
  --x: -220px;
  --y: -120px;
  left: 25px;
  top: 76px;
}

.loader .box.box6 {
  --x: -260px;
  --y: 120px;
  left: 91px;
  top: 76px;
}

.loader .box.box7 {
  --x: -240px;
  --y: 200px;
  left: 58px;
  top: 87px;
}

.loader .box0 {
  -webkit-animation-name: box-move0;
  animation-name: box-move0;
}

.loader .box0 div {
  -webkit-animation-name: box-scale0;
  animation-name: box-scale0;
}

.loader .box1 {
  -webkit-animation-name: box-move1;
  animation-name: box-move1;
}

.loader .box1 div {
  -webkit-animation-name: box-scale1;
  animation-name: box-scale1;
}

.loader .box2 {
  -webkit-animation-name: box-move2;
  animation-name: box-move2;
}

.loader .box2 div {
  -webkit-animation-name: box-scale2;
  animation-name: box-scale2;
}

.loader .box3 {
  -webkit-animation-name: box-move3;
  animation-name: box-move3;
}

.loader .box3 div {
  -webkit-animation-name: box-scale3;
  animation-name: box-scale3;
}

.loader .box4 {
  -webkit-animation-name: box-move4;
  animation-name: box-move4;
}

.loader .box4 div {
  -webkit-animation-name: box-scale4;
  animation-name: box-scale4;
}

.loader .box5 {
  -webkit-animation-name: box-move5;
  animation-name: box-move5;
}

.loader .box5 div {
  -webkit-animation-name: box-scale5;
  animation-name: box-scale5;
}

.loader .box6 {
  -webkit-animation-name: box-move6;
  animation-name: box-move6;
}

.loader .box6 div {
  -webkit-animation-name: box-scale6;
  animation-name: box-scale6;
}

.loader .box7 {
  -webkit-animation-name: box-move7;
  animation-name: box-move7;
}

.loader .box7 div {
  -webkit-animation-name: box-scale7;
  animation-name: box-scale7;
}

@-webkit-keyframes box-move0 {
  12% {
    transform: translate(var(--x), var(--y));
  }

  25%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@keyframes box-move0 {
  12% {
    transform: translate(var(--x), var(--y));
  }

  25%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@-webkit-keyframes box-scale0 {
  6% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  14%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@keyframes box-scale0 {
  6% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  14%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@-webkit-keyframes box-move1 {
  16% {
    transform: translate(var(--x), var(--y));
  }

  29%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@keyframes box-move1 {
  16% {
    transform: translate(var(--x), var(--y));
  }

  29%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@-webkit-keyframes box-scale1 {
  10% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  18%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@keyframes box-scale1 {
  10% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  18%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@-webkit-keyframes box-move2 {
  20% {
    transform: translate(var(--x), var(--y));
  }

  33%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@keyframes box-move2 {
  20% {
    transform: translate(var(--x), var(--y));
  }

  33%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@-webkit-keyframes box-scale2 {
  14% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  22%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@keyframes box-scale2 {
  14% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  22%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@-webkit-keyframes box-move3 {
  24% {
    transform: translate(var(--x), var(--y));
  }

  37%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@keyframes box-move3 {
  24% {
    transform: translate(var(--x), var(--y));
  }

  37%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@-webkit-keyframes box-scale3 {
  18% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  26%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@keyframes box-scale3 {
  18% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  26%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@-webkit-keyframes box-move4 {
  28% {
    transform: translate(var(--x), var(--y));
  }

  41%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@keyframes box-move4 {
  28% {
    transform: translate(var(--x), var(--y));
  }

  41%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@-webkit-keyframes box-scale4 {
  22% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  30%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@keyframes box-scale4 {
  22% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  30%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@-webkit-keyframes box-move5 {
  32% {
    transform: translate(var(--x), var(--y));
  }

  45%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@keyframes box-move5 {
  32% {
    transform: translate(var(--x), var(--y));
  }

  45%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@-webkit-keyframes box-scale5 {
  26% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  34%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@keyframes box-scale5 {
  26% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  34%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@-webkit-keyframes box-move6 {
  36% {
    transform: translate(var(--x), var(--y));
  }

  49%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@keyframes box-move6 {
  36% {
    transform: translate(var(--x), var(--y));
  }

  49%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@-webkit-keyframes box-scale6 {
  30% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  38%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@keyframes box-scale6 {
  30% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  38%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@-webkit-keyframes box-move7 {
  40% {
    transform: translate(var(--x), var(--y));
  }

  53%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@keyframes box-move7 {
  40% {
    transform: translate(var(--x), var(--y));
  }

  53%,
  52% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, -32px);
  }

  90%,
  100% {
    transform: translate(0, 188px);
  }
}

@-webkit-keyframes box-scale7 {
  34% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  42%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@keyframes box-scale7 {
  34% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  42%,
  100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}

@-webkit-keyframes ground {
  0%,
  65% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(0);
  }

  75%,
  90% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(1);
  }

  100% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(0);
  }
}

@keyframes ground {
  0%,
  65% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(0);
  }

  75%,
  90% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(1);
  }

  100% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(0);
  }
}

@-webkit-keyframes ground-shine {
  0%,
  70% {
    opacity: 0;
  }

  75%,
  87% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ground-shine {
  0%,
  70% {
    opacity: 0;
  }

  75%,
  87% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes mask {
  0%,
  65% {
    opacity: 0;
  }

  66%,
  100% {
    opacity: 1;
  }
}

@keyframes mask {
  0%,
  65% {
    opacity: 0;
  }

  66%,
  100% {
    opacity: 1;
  }
}
